body {
    background-color: black;
    font-family: bai jamjuree;
}

footer { 
    background-color: aquamarine;
    color: beige;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}